  
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="col col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-description">
              <h2 class="cocktail-name"><%= cocktail.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>