// Import page-specific CSS files here.

.cocktail-list {
  list-style-type: none;
}

.background-cover {
  background-image: url('https://images.pexels.com/photos/1205301/pexels-photo-1205301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.btn {
  margin-top: 20px;
}

.title {
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 90px;

}
